/* Tags */body {
	width: auto;
	margin-right: 2%;
	background: #ffffff;
	margin-left: 2%;
	text-align: left;
	font: 10pt Arial, Helvetica, sans-serif;
}

body, p {
	font-size: 10pt;
}

strong, .strong {
	font-weight: bold;
}

a {
	color: #2a454e;
	font-weight: bold;
	text-decoration: underline;
}

/* ID's */

#header {
	background: none;
}

#side {
	display: none;
}

/* Main */

#main h1 {
	font: bold 16pt "Trebuchet MS", Verdana, _sans-serif;
	color: #b50b23;
	border-bottom: 1px solid #074059;
	padding-bottom: 5px;
}

#main .product {
	width: 100%;
}

#main .product .action {
	display: none;
}

#main .product .price {
	width: 5px;
	text-align: right;
}

/* Design table */

table td {
	padding: 2px;
}

table.design th {
	text-align: left;
}

/* Common classes */

.non_print, #non_print {
	display: none;
}

/* Footer */

#footer {
	width: 780px;
	background: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

#footer ul {
	margin: 0px;
	padding: 0px;
}

#footer li {
	display: inline;
	padding-right: 10px;
}

.status {
	color: #b50b23;
	font-weight: bold;
}